
h1, a, a:link, a:visited{
    color: #fff;
  }

  a:hover{
    color: #42792d;
  }

  button{
    display: none;
    background: transparent;
    border: 0;
  }

  header{
    background-color: rgb(0, 0, 0);
    position: sticky;
    top: 0;
    z-index: 5;
    width: 100%;
    min-height: 10dvh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: hola both;
    animation-timeline: scroll();
    animation-range: 10px 100px; 
  }
 
  ul{
    display: flex;
    justify-content: space-between;
  }

  li{
    margin-right: 1.5rem;
  }

 /* div{
    animation: aparecer 2s .6s both;
  }

  .nose {
    view-timeline: --caja block;
    animation: aparecer both;
    animation-timeline: --caja;
    animation-range: cover 0% cover 100%;
  }*/


  @keyframes hola {
  0%{
    background: rgb(0, 0, 0);
  }

  100%{
   background-color:  #061107;
    box-shadow: 0 0 40px 0 #42792d;
  }
  }

  /*@keyframes aparecer {
    from{
      opacity: 0;
    }
  
    to{
     opacity: 1;
    }
    }*/
