main{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 10dvh;
  background-color: var(--fondo-image);
  /*background: url('../assets/') center/cover no-repeat fixed;*/
 /* transition: background 3s linear;*/
  animation: aparecer 2s .6s both;
}

.imagen{
 display: block;
 height: 50%;
 width: 50%;
}

h1{
  font-size: 1.5rem;
  font-weight: 300;
}
  
   /*.text {
    color: #fff;
    font-size: 1rem;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.2em solid green;   
    animation:
      typeAndDelete 7s steps(20),
      blinkCursor 0.5s step-end infinite alternate;
    margin-top: 1.5em;
  }*/

  .info{
    width: 50%;
    height: 200px;
    overflow-x: scroll;  /* la overflow me permite generar animaciones por caja y mejora la web*/
    overscroll-behavior: contain;
    scrollbar-width: none;
    color: #fff;
    font-size: 1.5rem;
  }

 .info--hola{
   animation: efecto-3 2s linear 3s both;
  }

  .info__item{
    animation: efecto-3 2s linear 2s both;
  }

 /* main:hover{
   background-position-y: 20px;
  }*/
