main{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 50dvh;
  background-color: var(--fondo-image);
  /*background: url('../assets/') center/cover no-repeat fixed;*/
 /* transition: background 3s linear;*/
  animation: aparecer 2s .6s both;
}

.imagen{
 display: block;
 height: 50%;
 width: 50%;
}
  
   /*.text {
    color: #fff;
    font-size: 1rem;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.2em solid green;   
    animation:
      typeAndDelete 7s steps(20),
      blinkCursor 0.5s step-end infinite alternate;
    margin-top: 1.5em;
  }*/

  .info{
    width: 50%;
    height: 200px;
    overflow-x: scroll;  /* la overflow me permite generar animaciones por caja y mejora la web*/
    scrollbar-width: none;
    position: relative;
    z-index: 40;
  }

 /* .info--hola{
   animation: efecto-2 2s linear .9s 3 both;
  }*/

  .info__item{
    position: absolute;
    animation: efecto 2s ease-out 1s both;
    color: #fff;
    font-size: 1.5rem;
   /* */
  }

 /* main:hover{
   background-position-y: 20px;
  }*/
