.acerca{
    width: 100%;
    min-height: 40dvh;
    background-color: var( --fondo-image);
    border-top: 1px solid #42792d;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
}

#text{
    color: #fff;
    font-size: 1.5rem;
    animation: nose 2s linear both infinite;
    animation-play-state: paused;
}

.imagen-2{
    display: block;
    width: 5%;
    height: 5%;
    clip-path: circle(50%);
    margin-left: 1rem;
    animation: giro 10s linear 2s infinite both;
}

.vista{
    width: 50%;
    height: 200px;
}

.imagen-3{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 2rem; 
    animation-name: appear;
    animation-fill-mode: both;
    animation-timeline: view();
    animation-range: contain 0% cover 100%;
}

/*.imagen-3:hover{
    transform: scale(1, 0);
}*/

.item--caja{
    animation: efecto 2s ease-out 1s both;
}

.item--caja2{
    animation: efecto-2 2s linear .7s both;
}

@keyframes giro{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

@keyframes nose{
    0%{
 transform: skewX(-10deg);
transform-origin: 10% -10%;
  
    }

    100%{
 transform: skewX(100deg);
transform-origin: 100% -50%;
  
    }
}

@keyframes appear {
  from {
    opacity: 0;
    transform: scaleX(0);
  }

  to {
    opacity: 1;
    transform: scaleX(1);
  }
}
